html,
body {
  font-family: 'Calibri', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
color: white;


}

header {

  background-color: #373742;
  border-style: solid;
  border-color: #2A2A32 ;
  max-width: 100%;
  padding: 20px 2px;
  margin: auto;
}

.myHome {
  background-color: transparent;
  height: 170px;
  background-color: #373742;
  border-style: solid;
  border-color: #595968;
}

.block_Entier {
  height: 100%;
  min-height: 100vh;
  background-color: #373742;
  padding: 6px 4px;
  box-sizing: border-box;
}

@media (max-width: 1265px) {
  .fonctionalite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
    height: 150px;
    flex-direction: column;
    align-items: center;

  }

  .content-section {
    flex-direction: column;
    display: flex;
    padding: 6px 7px;
    /* height: 90vh; */
    overflow: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

  }
}

@media (max-width: 1280px) {
  .content-section{
    display: flex;
    padding: 6px 7px;
    /* height: 90vh; */
    /* overflow: auto; */
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

}

nav ul {
  margin: 11px;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: block;
  /* margin: 50px 0; */
  line-height: 20px;
  margin: 15px 0;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  display: block;
}

ul {
  /* position: fixed; */
  width: 100%;
  /* height: 100vh; */
  /* background: #2c3e50; */
  /* top: 80px; */
  /* left: -100%; */
  text-align: center;
  transition: all .5s;
}

ul {
  margin: 0;
}

.section_Gauche {
  align-items: center;
  width: 310px;
  background-color: #373742;
}



ul {
  margin: 0px;
}

.content-section {
  background-color: #373742;

}

.img_fonctionalite {
  height: min-content;
  /* width: fit-content; */
  width: -webkit-fill-available;
  margin: 1px 9px;

}

.Big_image_Home {
  background-color: #4A4A58;
  /*  border-style: solid;
  border-color: red;
 width: 732px; */
  height: 406px;
  width: 100%;

}

.Big_image_Home img {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}

.fonctionalite {
  display: flex;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.F1,
.F2,
.F3,
.F4 {
  height: 150px;
  background-color: #4A4A58;
  width: 150px;
  border-radius: 20px;
  margin-left: 7px;
  margin-top: 14px;

}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  /* height: 100vh; */
}

 /* .Meteo {
  height: 216px;
  background-color: #4A4A58;
  border-style: solid;
  border-color: green;
}*/
.Meteo {
  max-width: 900px;
  margin: 0px auto;
  padding: 5px 5px;
  background-color: #373742;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/* Bloc gauche */
.left-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 28%;
}

.location {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 10px;
  color: #E6EAEE;
}

.location img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.time-date {
  font-size: 1em;
  color: #ccc;
}

/* Bloc droit */
.right-block {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  width: 55%;
  padding: 40px 10px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-block img {
  width: 78px;
  height: 78px;
  margin-bottom: 10px;
}

.info-block div {
  font-size: 1.4em;
  font-weight: bold;
  color: #E6EAEE;
}



.section_droite {
  height: min-content;
  width: 100%;
  margin-top: 10px;
  /* padding: 2px 18px; */
}

@media (max-width: 970px) {}

.bedroom {

  background-color: #4A4A58;
  height: 190px;
  width: 203px;
  margin: 4px 4px;
  border-radius: 15px;
}

.content-section {
  display: flex;
  padding: 6px 7px;
  /* height: 90vh; */
  /* overflow: auto; */
  width: 100%;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.flex_bedroom {
  display: flex;
  justify-content:flex-start;
}

footer {
  background-color: #373742;
  border-style: solid;
  border-color: #2A2A32 ;
  height: 100px;
  width: 100%;
}

@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

#check {
  display: none;
}

@media (max-width: 970px) {

  /* .checkbtn {
    display: block;
  }

  label.logo {
    font-size: 22px;
  }
.section_Gauche{
  float: right;
  
}
   .section_Gauche {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    left: -100%;
    text-align: center;
    transition: all .5s;
    
  } */
  .checkbtn {
    display: block;
  }

  .section_Gauche { 
    align-items: center;
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #2c3e50;
    left: -250px;
    top: 0;
    z-index: 100;
    transition: all 0.4s;
    padding-top: 80px;
  }

  .section_Gauche.active {
    left: 0;
    transition: all 0.4s;
  }

  nav ul li a {
    color: white;
  }

  .container {
    position: relative;
  }

  .line {
    /* width: 20px; */
    padding: 2px;
    /* height: 20px; */
    position: relative;
    color: black;
    margin: 1.5px;
    background: black;
  }

  nav ul li {
    display: block;
    /* margin: 50px 0; */
    line-height: 30px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav ul li a {
    font-size: 30px;
  }

  ul a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~.section_droite {}

  .section_Gauche {
    background: #470088;
    /* height: 80px; */
    /* width: 50%; */
    transition: all 0.4s;
  }


}

#menu {
  z-index: 999;
}

/* Création style pour Bouton Navigation */

.nav-buttons {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* espace vertical entre chaque bouton */
  list-style: none;

}

.nav-buttons li {
  margin: 10px 0;
}

.nav-buttons a {
  height: 25px;
  /* 👈 Contrôle direct de la hauteur */
  /*  padding: 0 15px; 👈 Padding vertical retiré pour ne pas dépasser la hauteur */
  display: flex;
  text-align:left;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  font-family: Calibri;
  font-size: 19px;
  width: 80%;
  padding: 10px 15px;
  background-color: transparent;
   /* color: #E6EAEE;*/
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: relative;
}

.nav-buttons a.active {
  background-color: #2A2A32;
  /* Maintenir la couleur de fond après clic */
  /* color: white;
  Facultatif, pour une meilleure lisibilité */
}

.nav-buttons a:hover {
  background-color: #2A2A32;
}

.nav-buttons a::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: transparent;
  /* Par défaut */
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-buttons a.active::before {
  background-color: #07CEC9;
}

.icon-left {
  width: 37px;
  height: 37px;
  margin-left: 12px;
  flex-shrink: 0;
  display: block;
}


/* Responsive */
@media (max-width: 700px) {
  .Meteo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-block,
  .right-block {
    width: 100%;
    justify-content: center;
  }

  .right-block {
    gap: 25px;
    margin-top: 20px;
  }
}
.nav-link {
  color: #E6EAEE; /* Couleur normale du texte */
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: color 0.3s;
}

.nav-link.active {
  color: #07CEC9; /* Couleur du texte quand actif (bleu par exemple) */
  font-weight: bold;
}






/* Style pour les contenu Ajout equipement */
#section_Ajout {
  display: flex;
  flex-direction: column;  /* Les éléments seront alignés verticalement */
  padding: 10px;
   /* height: 100vh; Donne une hauteur de 100% de la fenêtre */
}

.container-top {
  font-family: Calibri;
  font-size: 32px;
  font-weight: bold;
  color: #E6EAEE;
  width: 100%;  /* Occupe toute la largeur */
  background-color: #373742;
  padding-left: 20px;
  text-align:left;
  height: 12%;

}

  



.containers {
  display: flex;
  width: 100%;  /* Prendre toute la largeur disponible */
  flex-grow: 1;  /* Permet à cette section de prendre toute la hauteur restante */
}
.container-right {
  width: 72%;  /* Conteneur droit occupe 80% de la largeur */
  background-color: #4A4A58;
  height: 100%;
}



.container-left {
width: 25%;
padding: 10px;
box-sizing: border-box;
}
.container-left nav ul li{
  display: block; 
    /* margin: 50px 0; */
    line-height: 20px;
    margin: 0px;
}

.container-left nav ul li button {
  /* color: black; */
  font-size: 17px;
  text-align:left;
  padding: 7px 13px;
  padding-bottom: 15px;
  color: #ffffff98;
  font-weight:lighter;
  /* display: block; */
}
.nav-buttonsDevis {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0px; /* Espace entre les lignes */
  /* align-items: center; */
}

.nav-link_devis {
  background-color: transparent;
  width: 90%;
  cursor: pointer;
display: flex;
align-items: center;
text-decoration: none;
/* padding: 10px; */
transition: background 0.3s ease, transform 0.3s ease; /* Ajout de transform */
justify-content: space-between;
border: none;

}


.nav-link_devis:hover {
  color:#E6EAEE;
  font-weight: bold;

}

.nav-link_devis.active {
  color:#E6EAEE;
  font-weight: bold;
}
.nav-link_devis img {
  transition: transform 0.3s ease;
}
.nav-link_devis.active img {
  transform: scale(1.15);
}

.nav-link_devis:hover img {
  transform: scale(1.15); /* Agrandit l'image à 120% */
}
.section-content {
  color: #E6EAEE;
  font-weight:bold;
  text-align: center;
  align-items: center;
  font-size: 20px;
  display: none;
}

.section-content.active {
  display: block;
}

#detail-m1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Ces deux divs vont se superposer exactement */
.detailHaut{
  position: relative;
  width: 100%;
  height: 10%;
}



/* Optionnel : ajouter un fond pour visualiser */
.detailHaut {
  z-index: 1;
}
.detailHaut h2 {
 color: #E6EAEE;
 font-size: 25px;
 font-weight: bolder;
}

.detailBas {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 80%;
}
.detailBas h3 {
color: #b8babd;
font-size: 20px;
font-weight: bolder;
}
.icon-module {
  width: 50%;
  height: auto; /* pour garder les proportions */
}

/* Boutons en bas */
.retour {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;
}

.retour button {
  flex: 1;
  max-width: 160px;
  margin: 0 10px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* Style spécifique pour "Suivant" */
.btn-suivant {
  border: 3px solid #07CEC9;       /* Bordure rouge bien visible */
  background-color: transparent;   /* Fond transparent */
  color:#07CEC9;                  /* Texte rouge aussi (ou blanc si tu préfères) */
  border-radius: 30px;             /* Coins arrondis */
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-suivant:hover {
  background-color: #07CEC9;       /* Au survol : fond rouge */
  color:#E6EAEE;                    /* Texte devient blanc */
}
.btn-retour {
  border: 3px solid #E6EAEE;       /* Bordure rouge bien visible */
  background-color: transparent;   /* Fond transparent */
  color:#E6EAEE;                  /* Texte rouge aussi (ou blanc si tu préfères) */
  border-radius: 30px;             /* Coins arrondis */
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-retour:hover {
  background-color: #E6EAEE;       /* Au survol : fond rouge */
  color:#2A2A32;                    /* Texte devient blanc */
}


.icon-leftDevis {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  flex-shrink: 0;
  display: block;
}
/* Style pour la section Ajout Appareil */

.device-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.device-item {
  background-color: transparent;         /* fond transparent */
  padding: 15px;
  margin-bottom: 10px;

  border-bottom: 2px solid #eee6e660;         /* petite ligne pour démarquer le bas */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.device-menu {
  background: none;
  border: none;
  color: #E6EAEE;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  padding: 0 10px;
}

.device-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color:#E6EAEE;
  background-color: transparent;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
  padding: 15px 80px;

}

/* FinStyle pour les contenu Ajout equipement */



/* Style pour Scène */
#section_scene {
  display: none;
  position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.conteneur-hautScene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background-color: #373742;
  z-index: 2;
  padding: 1em;
  box-sizing: border-box;
}
.conteneur-hautScene p{
  font-family: Calibri;
  font-size: 30px;
  font-weight: bold;
  color: #E6EAEE;
  text-align: left;
}

.conteneur-basScene {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%; 
  background-color: #4A4A58;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.conteneur-basScene p {
color: #b8babd;
font-size: 20px;
}


/* Fin Style pour Scène */

/* Fin Style pour Acces */
#section_acces {
  display: none;
  position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.conteneur-hautAcces {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background-color: #373742;
  z-index: 2;
  padding: 1em;
  box-sizing: border-box;
}
.conteneur-hautAcces p{
  font-family: Calibri;
  font-size: 30px;
  font-weight: bold;
  color: #E6EAEE;
  text-align: left;
}

.conteneur-basAcces {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%; 
  background-color: #4A4A58;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.conteneur-basAcces p {
color: #b8babd;
font-size: 20px;
}

